.createUser {
    border: 1px solid red;

    input {
        border: 1px solid #505050;
        border-radius: .2rem;
        outline: none;
    }

    button {
        background-color: green;
        padding: .5rem 1rem;
        border-radius: .2rem;
    }
}